{%extends "base_gstat.html"%}

{% block title %}GStat 2.0 - LDAP Browser{% endblock %}

{% block css-add %}
	<link rel="stylesheet" href="/media/ldapbrowser/css/ldapbrowser.css" type="text/css" />
{% endblock %}

{% block breadcrumbs %}<a href="/gstat/">Home</a> :: <a href="/gstat/ldap">LDAP Browser</a>{% endblock %}

{% block scripts-add %}
<!-- Loading YUI libraries -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.6.0/build/yuiloader/yuiloader-min.js"></script>
<script type="text/javascript"> 
	var loader = new YAHOO.util.YUILoader({ 
	    require: ["datatable", "treeview", "panel"], 
	    loadOptional: true,
	    onSuccess: function() {YAHOO.util.Event.onDOMReady(layout, true);}, 
	    timeout: 10000,
	    combine: true 
	}); 
	loader.insert();
</script>

<!-- treeinteraction.js -->
<script type="text/javascript">
function loadData(node, fnLoadComplete)  {
    var callback = {
        success: function(Response) {
		    var Results =  eval("(" + Response.responseText + ")");
		    YAHOO.log(Response.responseText, "info", "example");
		    if (Results && (Results.length > 0)) {
		        for (var i=0, j=Results.length; i<j; i++) {
		    		label = Results[i].substring(0, Results[i].indexOf(node.label)-1)
		            var newNode = new YAHOO.widget.MenuNode(label, node, false);
		            newNode.title = Results[i];
		        }
	        }
		    Response.argument.fnLoadComplete();
		},
        failure: function(Response) {
            Response.argument.fnLoadComplete();
        },
        argument: {
            "node": node,
            "fnLoadComplete": fnLoadComplete
        },
        timeout: 7000
    };
            
    var nodeLabel = encodeURI(node.title);
    var url = "/gstat/ldap/browse?host=" + host + "&dn=" + nodeLabel;
    YAHOO.util.Connect.asyncRequest('GET', url, callback);
}

function showEntry(node, fnLoadComplete)  {           
    var nodeLabel = encodeURI(node.title);
    var url = "/gstat/ldap/browse?host=" + host + "&entry=true&dn=" + nodeLabel;
    YAHOO.util.Dom.get('entry').data = url;
}

function buildTree() {
    var tree = new YAHOO.widget.TreeView("tree");
    tree.setDynamicLoad(loadData, 1);
    var root = tree.getRoot();
    var rootNode = new YAHOO.widget.MenuNode("o=grid", root, false);
    rootNode.title = "o=grid";
    tree.subscribe("expand", function(node){ showEntry(node) });
    tree.draw();
}
</script>

<!-- attributesobject.js -->
<script type="text/javascript">
	var alwayscombo={
		//Position of com box from window edge ["top|bottom", "left|right"]
		location: ["top", "right"],
		//Additional offset from specified location above [vertical, horizontal]
		addoffset: [190, window.innerWidth/2-470],
		//ID of div containing the floating element
		comboid: "entry",
	
		floatcombo:function(){
			var docElement=(document.compatMode=='CSS1Compat')? document.documentElement: document.body
			this.comboref.height=window.innerHeight-200;
			if (this.location[0]=="top") {
				this.comboref.style.top=0+this.addoffset[0]+"px";
			} else if (this.location[0]=="bottom")
				this.comboref.style.bottom=0+this.addoffset[0]+"px"
			if (this.location[1]=="left")
				this.comboref.style.left=0+this.addoffset[1]+"px"
			else if (this.location[1]=="right")
				this.comboref.style.right=0+this.addoffset[1]+"px"
		},
	
		init:function(){
			this.comboref=document.getElementById(this.comboid)
			this.comboref.style.visibility="visible"
			this.floatcombo()
		}
	}


	if (window.addEventListener)
		window.addEventListener("load", function(){alwayscombo.init()}, false)
	else if (window.attachEvent)
		window.attachEvent("onload", function(){alwayscombo.init()})
</script>

<!-- selectbox.js -->
<script type="text/javascript">
	host='';
	var selectbox={
		navigate:function(selectobj){
			if (selectobj.options[selectobj.selectedIndex].value!="default") {
				host=selectobj.options[selectobj.selectedIndex].value;
				buildTree();
				YAHOO.util.Dom.get('entry').data = "/gstat/ldap/browse";
			}
		}
	}
</script>

<!-- layout.js -->
<script type="text/javascript">
function layout() {
	var panel1 = new YAHOO.widget.Panel("center1", { width:"320px", visible:true, constraintoviewport:true } ); 
	panel1.render(); 
};
</script>

{% endblock %}

{% block content-main %}
	<form action="">
	<div id="visiblecombo">
	<select size="1" onchange="selectbox.navigate(this)">
		<option value="default" selected="selected" style="background-color: #532900; color: white;">--SELECT A TOP LEVEL BDII--</option>
		{% for label, hostname in hostnames %}
			<option value="{{hostname}}">{{label}}</option>
		{% endfor %}
	</select>
	</div>
	</form>

	<div id="center1">
		<table class="bd" width="100%">	
		<tr>
			<th>LDAP Tree</th>
		</tr>
		<tr>
			<td valign="top">
				<div id="tree"></div>
			</td>
		</tr>
		</table>
	</div>

    <div id="right1">
		<object id="entry"></object>
	</div>
{% endblock %}
