Source: glite-yaim-bdii
Maintainer: Laurence Field <project-grid-info-support@cern.ch>
Section: net
Priority: optional
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/BDII
Vcs-Browser: http://svnweb.cern.ch/world/wsvn/gridinfo/glite-yaim-bdii/trunk
Vcs-Svn: svn://svn.cern.ch/reps/gridinfo/glite-yaim-bdii/trunk
DM-Upload-Allowed: yes

Package: glite-yaim-bdii
Architecture: all
Depends: ${misc:Depends}, bdii
Description: This package contains the yaim functions necessary to configure the top level and site BDII.
