Source: glue-validator
Maintainer: Laurence Field <project-grid-info-support@cern.ch>
Section: net
Priority: optional
Build-Depends:
     debhelper (>= 8),
     python-all,
     python-support (>= 0.90)
Standards-Version: 3.9.3
homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/BDII
Vcs-Browser: http://svnweb.cern.ch/world/wsvn/gridinfo/glue-validator/trunk
Vcs-Svn: svn://svn.cern.ch/reps/gridinfo/glue-validator/trunk
DM-Upload-Allowed: yes
X-Python-Version: all

Package: glue-validator
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},  ${shlibs:Depends}
Description: A validation framework for Grid information providers
 This framework validates the information returned against the GLUE information
 model from the Open Grid Forum.
