<html>
<head>
<title>GridMap</title>
	<link href="/media/gridmap/css/style.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="/media/gridmap/scripts/mootools-release-1.11.js"></script>
	<script type="text/javascript" src="/media/gridmap/scripts/wz_jsgraphics.js"></script>
    <script type="text/javascript" src="/media/gridmap/scripts/rsh.js"></script>
	<script type="text/javascript" src="/media/gridmap/scripts/gridmap.js"></script>
	<script type="text/javascript" src="/media/gridmap/scripts/cache.js"></script>
	<script type="text/javascript" src="/media/gridmap/scripts/gmcontrol.js"></script>
	<script type="text/javascript" src="/media/gridmap/scripts/gmdata.js"></script>
	<script type="text/javascript" src="/media/gridmap/scripts/gmview.js"></script>
</head>
<body>
	<script type="text/javascript" src="/media/gridmap/scripts/wz_tooltip.js"></script>

<table id="mainTable" width="100%">
<tr>
<td id="gridmap_td" valign="top">

<h2><i>GridMap</i> &ndash; Visualizing the "State" of the Grid</h2>

<div id="gridmapCanvas" style="position:relative;overflow:hidden;"><div id="gridmapCanvasLoading">&nbsp;<img border="0" src="/media/gridmap/img/progress.gif" />&nbsp;Loading...</div></div>

<table width="100%"><tr>
<td align="left"><div id="caption" class="caption"></div><div id="sqltime" class="small-text"></div></td>
<td align="right" valign="top" style="padding-top:15px"><div id="colorkeyCanvas" style="position:relative;width:220px;height:40px;"></div></td>
</tr></table>

</td>
<td width="290" align="left" valign="top">

<div style="position:relative;width:290px;height:45px;">
  <div style="position:absolute; left:05; top:-7"><a href="http://cern.ch/openlab" target="_blank"><img src="/media/gridmap/img/openlab.png"></img></a></div>
  <div style="position:absolute; left:190; top:-2"><a href="http://eds.com" target="_blank"><img src="/media/gridmap/img/eds.png"></img></a></div>
</div>

<div class="group">
<div class="group-title" style="margin-bottom:10px">Topology View</div>

<form id="topogroup" action="">
<input type="button"   id="regions" value="regions"  class="topo-button" title="EGEE Regions">
<input type="button"   id="tiers"   value="tiers"    class="topo-button" title="WLCG Tiers">
<!-- <input type="button"   id="countries"     value="countries"      class="topo-button" title="Certified Production sites, grouped by countries."> -->
<input type="button"   id="pps"     value="pps"      class="topo-button" title="Preproduction System">
<input type="button"   id="all"     value="all"      class="topo-button" title="All Sites from GStat"><br>
<input type="checkbox" id="showsitenames" />sitenames
<input type="checkbox" id="showosgsites" />OSG sites
<span id="allwlcg_span"><input type="checkbox" id="allwlcg" />all WLCG sites</span>
</form>

<form id="layoutgroup" action="">
<div class="title-text">Size by:</div>
<input type="button"   id="cpu"    value="CPUs (GStat)" class="layout-button" title="Size by number of CPUs from GStat"><br>
<input type="checkbox" id="usehist">use historical CPU numbers<br>
<input type="button"   id="tc"     value="CPUs (BDII)"   class="layout-button" style="margin-top:10px;" title="Size by number of logical CPUs (Cores) from BDII">
<input type="button"   id="rj"     value="Running Jobs"  class="layout-button" title="Size by number of running jobs from BDII">
<span id="ext-ui" class="ext-button" href="javascript:return false" style="cursor:pointer">more...</span><br>
<input type="checkbox" id="usevoview">use VOView information
<input type="checkbox" id="si2k">size by SI2k
<span id="more" class="hidden">
<br>
<input type="checkbox" id="strict">strictly to logical CPUs (WLCG Capacity)
</span>
</form>
</div>

<div class="group">
<div class="group-title">SAM Results</div>
<form id="vogroup" action="" onsubmit="return false;">
<div class="title-text">Virtual Organization:</div>
<input type="button" value="OPS"   class="vo-button">
<input type="button" value="Alice" class="vo-button" style="color:#ff0000;">
<input type="button" value="Atlas" class="vo-button" style="color:#0000ff;">
<input type="button" value="CMS"   class="vo-button" style="color:#00ff00;">
<input type="button" value="LHCb"  class="vo-button" style="color:#00ffff;">
<input type="text"   value=""      class="vo-text" id="vo">
</form>
<form id="servgroup" action="" onsubmit="return false;">
<div class="title-text">Services:</div>
<input id="Site"           type="button" value="Site"  class="serv-button" title="All Site Services">
<input id="CE-ArcCE-OSGCE" type="button" value="CE"    class="serv-button" title="Compute Element">
<input id="SRMv2-OSGSRMv2" type="button" value="SRMv2" class="serv-button" title="Storage Resource Manager v2">
<input id="sBDII"          type="button" value="sBDII" class="serv-button" title="Site BDII">
<select id="serv-select" class="serv-superbutton"></select>
</form>

<form id="periodgroup" action="">
<div class="title-text">Current Status:</div>
<input type="button" id="latest" value="latest SAM test results" class="period-long-button">
<div class="title-text" style="margin-top:10px">Historical Availability:</div>
<input type="button" id="hour"   value="hourly"  class="period-button">
<input type="button" id="day"    value="daily"   class="period-button">
<input type="button" id="week"   value="weekly"  class="period-button">
<input type="button" id="month"  value="monthly" class="period-button">
<br>
<input type="button" id="period-down" value="-" class="period-updn">
<span id="period-ts" class="period-ts"></span>
<input type="button" id="period-up" value="+" class="period-updn">
<br>
<input type="checkbox" id="reliability">Reliability
<input type="checkbox" id="maintenance">In Maintenance
</form>
</div>

<div style="margin-left:.5em" class="small-text">
see also <a href="http://indico.cern.ch/contributionDisplay.py?contribId=20&sessionId=37&confId=18714" target="egee">EGEE'07 conference presentation on GridMaps</a><br>and <a href="http://www.isgtw.org/?pid=1000728" target="iSGTW">iSGTW article on GridMaps</a>
</div>

<div style="margin-left:.4em;margin-top:1em" class="small-text">
<IMG SRC="http://www.cern.ch/mmmservices/AntiSpam/nospam.aspx?email=whz0V5NLYXJYZCU3psXNyzcxLDWqgXqLlt%2fuYPJ0Lnx4a31gzSrBvqTcF6zJm0u%2f">
</div>

</td></tr></table>

<script>

// global cache
var _gm_cache;
var _gm_cache_client_timeout = 30;

// initialize history/bookmarking script
window.dhtmlHistory.create({
	toJSON: function(o) {
		return Json.toString(o);
	},
	fromJSON: function(s) {
		return Json.evaluate(s);
	},
	debugMode: false
});

// if old style parameters: replace "?" by "#" and reload page as early as possible
if (window.location.search) {
	window.location.href = window.location.href.match(/^[^#?]*/)[0]+'#'+window.location.search.substring(1);
}


// MAIN INITIALIZATION
// (uses mootools functionality)
window.addEvent('domready', function()
{
    // initialize history/bookmarking script
    dhtmlHistory.initialize();

    // initialize global cache (20 slots)
    _gm_cache = new Cache(20);

    // tooltip setup
    config.BorderWidth = 0;
    config.TitleBgColor = '#BBDDAA';
    config.TitleFontColor = '#000000';
    config.TitlePadding	= 1;

    // create gridmap view objects
    var gmview = new GMView("gridmapCanvas");
    var colorkey = new jsGraphics("colorkeyCanvas");

    // determine width and height for the gridmap view
    var w = $('gridmap_td').getCoordinates().width - 15;
    var innerHeight = self.innerHeight?self.innerHeight:(document.documentElement&&document.documentElement.clientHeight)?document.documentElement.clientHeight:document.body.clientHeight;
    var h = innerHeight - $("gridmapCanvas").getPosition().y - 100;
    if (w<=0) { w=600; }
    if (h<=0) { h=400; }
    $("gridmapCanvas").setStyles({"width": w, "height": h});
    $("gridmapCanvasLoading").setStyles({"width": w, "height": h, "padding-top": h/2-15+"px"});
    $("mainTable").setStyle("width", $('mainTable').getCoordinates().width);

    // create gridmap data object (model) and attach the view
    var gmdata = new GMData(gmview, w, h);

    // create and initialize UI controller object
    var gmcontrol = new GMControl(gmdata, colorkey);
    gmcontrol.initialize();
});

</script>

</body>
</html>
