/* 
    Document   : example
    Author     : horat
    Description:
        CSS for the example form of the DeployStats project.
*/

div.title {
  display: block;
  text-align: right;
  float: left;
  width: 40%;
  margin: 5px 0 0 10px;
}

div.element {
  display: block;
  text-align: left;
  float: left;
  width: 50%;
  margin: 5px 0 0 10px;
}

div.item {
}

div.submit {
  display: block;
  text-align: center;
  margin: 10px 10px 10px 10px;
}
