include config/*
include media/core/css/*
include media/core/css/img/*
include media/core/icon/*
include media/core/images/*
include media/core/img/*
include media/core/scripts/*
include media/core/scripts/img/*
include media/core/swf/*
include media/core/ZeroClipboard/*
include media/geo/css/*
include media/geo/css/img/*
include media/geo/scripts/*
include media/geo/scripts/img/*
include media/geo/img/*
include media/gridsite/css/*
include media/gridsite/css/img/*
include media/gridsite/scripts/*
include media/gridsite/scripts/img/*
include media/ldapbrowser/css/*
include media/ldapbrowser/scripts/*
include media/summary/css/*
include media/summary/css/img/*
include media/summary/scripts/*
include media/summary/scripts/img/*
include apache/*
include apps/manage.py
include apps/core/templates/*
include apps/geo/templates/*
include apps/gridsite/templates/*.html
include apps/ldapbrowser/templates/*.html
include apps/rrd/templates/*.html
include apps/service/templates/*.html
include apps/stats/templates/*.html
include apps/summary/templates/*.html
include tools/packer/*
include tools/packer/base2/*

