{%  extends "base_gstat.html" %}

{% block description %}Here you can put short description what application does, authors list and whatever you can come up with.{% endblock %}

{% block app-info %}{% endblock %}

{% block css-add %}
<link rel="stylesheet" type="text/css" href="/media/core/css/dataTables.css" />
<!-- <link rel="stylesheet" type="text/css" href="/media/gridsite/css/ext-all.css"/> -->
{% endblock %}

{% block scripts-add %}
<script type="text/javascript" src="/media/core/scripts/jquery.js"></script>
<script type="text/javascript" src="/media/core/scripts/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#table_status').dataTable( { "iDisplayLength":3 } );  // dataTable script initialization using jQuery selectors
        $('#content-main a').attr({"target":"_self"});      // here you can set up default targets for all heperlinks in content section
        $('.dataTables_wrapper').attr({"style":"margin-left: 0px;"});
        $('#table_status').attr({"style":"width: 100%;"});
    } );
</script>
<!--  
<script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.0/release/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.0/release/ext-all.js"></script>
<script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.0/release/examples/ux/RowExpander.js"></script>
{#<script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.0/release/examples/ux/XmlTreeLoader.js"></script>#}
{#<script type="text/javascript" src="/media/gridsite/scripts/ext-base.js"></script>#}
{#<script type="text/javascript" src="/media/gridsite/scripts/ext-all.js"></script>#}
-->
<!-- 
<script type="text/javascript">
Ext.onReady(function(){

    Ext.QuickTips.init();
    
    var xg = Ext.grid;

    // shared reader
    var reader = new Ext.data.ArrayReader({}, [
       {name: 'hostname'},
       {name: 'check'},
       {name: 'current_state'},
       {name: 'plugin_output'},
       {name: 'last_check', type: 'date', dateFormat: 'U'},
       {name: 'long_plugin_output'}
    ]);

    // row expander
    var expander = new Ext.ux.grid.RowExpander({
        tpl : new Ext.Template(
            '<p><b>Summary:</b> {long_plugin_output}</p>'
        )
    });

    var grid = new xg.GridPanel({
        store: new Ext.data.GroupingStore({
            reader: reader,
            data: xg.statusData,
            sortInfo:{field: 'check', direction: "ASC"},
            groupField:'hostname'
        }),

        columns: [
            expander,
            {header: "BDII", width: 20, sortable: true, dataIndex: 'hostname', hidden: true},
            {id:'check',header: "Check", width: 20, sortable: true, dataIndex: 'check'},
            {header: "Status", width: 20, sortable: true, dataIndex: 'current_state'},
            {header: "Status Information", width: 60, sortable: true, dataIndex: 'plugin_output'},
            {header: "Last Updated", width: 20, sortable: true, renderer: Ext.util.Format.dateRenderer('H:i:s m/d/Y'), dataIndex: 'last_check'}
        ],

        view: new Ext.grid.GroupingView({
            forceFit:true,
            groupTextTpl: '{text} ({[values.rs.length]} {[values.rs.length > 1 ? "Items" : "Item"]})'
        }),
        


        frame: true,
        columnLines: true,
        width: 800,
        height: 350,
        plugins: expander,
        collapsible: true,
        animCollapse: false,
        title: 'Information System Monitoring and Validation',
        iconCls: 'icon-grid',
        renderTo: 'status_grid'
    });
    
//////////////////////////////////////////////////////////////////////////////////////////////    
//    var detailsText = '<br><i>Select a GLUE ENTITY to see more information...</i>';
//
//	var tpl = new Ext.Template(
//        '<h2 class="title">{title}</h2>',
//        '<p><b>Value</b>: {innerText}</p>'
//	);
//    tpl.compile();
//
//    new Ext.Panel({
//        title: 'Glue Information',
//        renderTo: 'glue_panel',
//        layout: 'border',
//        width: 800,
//        height: 200,
//        collapsible: true,
//        frame: true,
//        items: [{
//            xtype: 'treepanel',
//            id: 'tree-panel',
//            region: 'center',
//            margins: '2 2 0 2',
//            autoScroll: true,
//	        rootVisible: false,
//	        root: new Ext.tree.AsyncTreeNode(),
//            // Our custom TreeLoader:
//	        loader: new Ext.app.BookLoader({
//	            dataUrl:'/gstat/site/{{ site_name }}/topbdii_xml',
//	            requestMethod:'GET'
//	        }),
//	        //loader: new Ext.app.GlueLoader({
//	        //    dataUrl:'/gstat/site/{{ site_name }}/topbdii_json',
//	        //    requestMethod:'GET'
//	        //}),	        
//	        listeners: {
//	            'render': function(tp){
//                    tp.getSelectionModel().on('selectionchange', function(glue_panel, node){
//                        var el = Ext.getCmp('details-panel').body;
//	                    if(node && node.leaf){
//	                        tpl.overwrite(el, node.attributes);
//	                    }else{
//                            el.update(detailsText);
//                        }
//                    })
//	            }
//	        }
//        },{
//            region: 'east',
//            title: 'Entity Details',
//            id: 'details-panel',
//            autoScroll: true,
//            collapsible: true,
//            split: true,
//            margins: '0 2 2 2',
//            cmargins: '2 2 2 2',
//            width: 450,
//            height: 180,
//            html: detailsText
//        }]
//    });
//////////////////////////////////////////////////////////////////////////////////////////////     
    
    

});

////////////////////////////////////////////////////////////////////////////////////////////// 
//Ext.app.GlueLoader = Ext.extend(Ext.tree.TreeLoader, {
//    processResponse : function(response, node, callback){
//        var json = response.responseText;
//        try {
//            var o = eval("("+json+")");
//            for(var i = 0, len = o.length; i < len; i++){
//                var n = this.createNode(o[i]);
//                if(n){
//                    node.appendChild(n);
//                }
//            }
//            if(typeof callback == "function"){
//                callback(this, node);
//            }
//        }catch(e){
//            this.handleFailure(response);
//        }
//    },
//});
////////////////////////////////////////////////////////////////////////////////////////////// 
//Ext.app.BookLoader = Ext.extend(Ext.ux.tree.XmlTreeLoader, {
//    processAttributes : function(attr){
//        if(attr.model){
//            attr.text = attr.model
//            attr.loaded = true;
//            attr.expanded = true;
//        }
//        else if(attr.name){
//            attr.text = attr.name
//            attr.leaf = true;
//        }
//    }
//});
////////////////////////////////////////////////////////////////////////////////////////////// 

// Array data for the grids
Ext.grid.statusData = [
    {% for row in status_list %}
    ['{{ row.hostname }}', '{{ row.check }}', '{{ row.current_state }}', '{{ row.plugin_output }}', {{ row.last_check }}, '{{ row.long_plugin_output }}'], 
    {% endfor %}
];

</script>
-->
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content-main %}

<!--  
<div id="status_grid"></div>
<br>
<div id="glue_panel"></div>
<br>
-->


<table cellpadding="0" cellspacing="1" border="0" class="display" id="table_status">
  <thead>
    <tr>
    {% for col in status_thead %}
      {% if forloop.last %}
      {% else %}
      <th>{{ col }}</th>
      {% endif %}
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for check in status_list %}
    <tr>
      <td>{{ check.hostname }}</td>  
      <td>{{ check.check }}</td>
      <td>{{ check.current_state }}</td>      
      <td>{{ check.plugin_output }}</td>  
    </tr>    
    {% endfor %}
  </tbody>
</table>


<!--  
<table id="table_glue" border=1>
  <thead>
    <tr>
      <th>Class</th>
      <th>UniqueID</th>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <p>
    {% for entity in glue_list %}
      <br>
      Class: {{ entity.class }} <br>
      UniqueID: {{ entity.uniqueid }} <br>
      Attributes:  <br>
      {% for attr in entity.attributes|dictsort:"attribute" %}
        {{ attr.attribute }}: {{ attr.value }} <br>
      {% endfor %}
    {% endfor %}
    </p>
  </tbody>
</table>
-->

{% endblock %}


