<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">

<link rel="stylesheet" type="text/css" href="/media/service/css/service.css" />
<link rel="stylesheet" type="text/css" href="/media/core/css/tablesorter.css" />
<link rel="stylesheet" type="text/css" href="/media/core/css/nagios.css" />
<script type="text/javascript" src="/media/core/scripts/utils.js"></script>
<script type="text/javascript" src="/media/gridsite/scripts/site.js"></script>
<script type="text/javascript" src="/media/core/scripts/jquery.js"></script>
<script type="text/javascript" src="/media/core/scripts/jquery.tablesorter.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	    if(typeof($("#tree"))!='undefined') {
		    $("#tree").treeview();
		}
	    if(typeof($("#scroll-pane"))!='undefined') {
	        $("#scroll-pane").jScrollPane({showArrows:true, scrollbarWidth: 17});
	    }
	});
</script>
</head>
<body>

<div>

    <table cellpadding="0" cellspacing="1" border="0" class="tablesorter" id="table_status">
      <thead>
        <tr>
          <th> </th>
          <th>BDII Hostname</th>
          <th>Check</th>
          <th>Current State</th>
          <th>Information</th>
          <th>Last Check</th>
        </tr>
      </thead>
      <tbody>
        {% for check in status_list %}
        <tr>
          <td rowspan="1" style="width: 12px;" align="center" onclick="expandRow('id{{ forloop.counter }}', this);" >
            <img src="/media/gridsite/scripts/img/expand.gif" />
          </td>
          <td>{{ check.hostname }}</td>  
          <td>{{ check.check }}</td>
          <td><span class="NagiosStatus_{{ check.current_state }}"> {{ check.current_state }} </span></td>    
          <td>{{ check.plugin_output }}</td> 
          <td>
            <script>
              TimeFormat('{{ check.last_check }}');
            </script>
          </td>
        </tr> 
        <tr class="hidden" id="id{{ forloop.counter }}">
          <td colspan="5"> 
            <script>
              ErrorsToTable('{{ check.long_plugin_output }}');
            </script>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  
</div>

</body>
</html>


