/** LDAP Tree **/
tbody th {
  font-size: 12px;
    text-align: left;
}
tr {
    background-color: #FFFFFF;
    font-size: 10px;
}


/** Combobox **/
#visiblecombo select{
  background-color: lightyellow;
}


/** Entry Page **/
#entrypage{
  float: right;
  margin: auto;
}

#entrypage table{
  width: 387px;
}

#ldaptree{
  width: 500px;
}

