SSLRequireSSL
SSLVerifyDepth 5
SSLVerifyClient require
SSLOptions +StdEnvVars +StrictRequire +OptRenegotiate

SSLOptions +FakeBasicAuth

AuthType Basic
AuthName "BDII File Editor"
AuthUserFile /afs/cern.ch/project/gd/www/bdii-web-config/certificates/httpd.passwd
Require valid-user


