<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title>{{ title }}</title>

<link rel="stylesheet" type="text/css" href="http://extjs-public.googlecode.com/svn/tags/ext-2.2/release/resources/css/ext-all.css" />
<script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/ext-2.2/release/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/ext-2.2/release/ext-all.js"></script>
</head>

<body>
<h1>{{ title }}</h1>
<script type="text/javascript">

Ext.onReady(function(){

    var myData =  [
{% for row in table %}
 [ {% for col in row %}'{{ col }}',{% endfor %} ], {% endfor %}
]; 

    var store = new Ext.data.SimpleStore({
        fields: [
           {name: 'hostname'}
        ]
    });

    store.loadData(myData);

    var grid = new Ext.grid.GridPanel({
        store: store,
        columns: [
            {id:'hostname',header: "Hostname", width: 200, sortable: true, dataIndex: 'hostname'},
        ],
        stripeRows: true,
        height:350,
        width:600,
        title:'Array Grid'
    });

    grid.render('grid-example');
});
</script>

<div id="grid-example"></div>
</body>
</html>

