{%  extends "base_gstat.html" %}

{% block title %}GStat 2.0 - Summary View - {{type}} {{value}}{% endblock %}

{% block description %}Here you can put short description what application does, authors list and whatever you can come up with.{% endblock %}

{% block app-info %}{% endblock %}

{% block css-add %}
<link rel="stylesheet" type="text/css" href="/media/core/css/dataTables.css" />
<link rel="stylesheet" type="text/css" href="/media/core/css/TableTools.css" />
<link rel="stylesheet" type="text/css" href="/media/core/css/percentbar_style.css" />
<link rel="stylesheet" type="text/css" href="/media/core/css/nagios.css" />
<link rel="stylesheet" type="text/css" href="/media/core/css/jquery.tools.tooltip.css" />
<style media="screen" type="text/css"> 
a:link { text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
</style>
{% endblock %}

{% block scripts-add %}
<script type="text/javascript" src="/media/core/scripts/jquery.dataTables.js"></script>
<script type="text/javascript" src="/media/core/scripts/ZeroClipboard.js"></script>
<script type="text/javascript" src="/media/core/scripts/TableTools.js"></script>
<script type="text/javascript" src="/media/core/scripts/percentbar_progress.js" ></script>
<script type="text/javascript" src="/media/core/scripts/utils.js"></script>
<script type="text/javascript" src="/media/summary/scripts/summary.js" ></script>
<script type="text/javascript" src="/media/core/scripts/jquery.tools.tooltip.js" ></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var url = document.URL.split("/gstat/summary/")[1];
    if (url[url.length-1] == '/') url = url.slice(0,length-1);
    if (url.split("/").length == 2) $('#sites_or_status').text('Status');
    else $('#sites_or_status').text('Sites'); 
    
    var filtertype = document.getElementById('filtertype');
    filtertype.value = "{{ type }}";
    if (filtertype.value=="VO") 
        changeTooltip();
    try {
        loadJSONDoc("/gstat/core/filter/" + "{{ type }}");
    } catch(e) {
        var msg = (typeof e == "string") ? e : ((e.message) ? e.message : "Unknown Error");
        alert("Unable to get JSON data:\n" + msg);
        return;
    }
    var filtervalue = document.getElementById('filtervalue');
    filtervalue.value = "{{ value }}";

    loadTable();
    
    $("div[title]").tooltip({offset: [10, 2], effect: 'slide', tipClass: 'tooltip'}).dynamic({ bottom: { direction: 'down', bounce: true } });
})


</script>
{% endblock %}

{% block breadcrumbs %}
<a href="/gstat/">Home</a> :: <a href="/gstat/summary/">Site Summary</a>
{% endblock %}

{% block content-main %}


<select id="sites" onchange="directToSiteView(event);" style="margin-left: 0.5em;">
  <option value="-1">--SELECT A SITE NAME--</option>
  {% for site in sites %}
    <option value="{{ site }}">{{ site }}</option>
  {% endfor %}
</select>

<div id="TableContainer">
  <table cellpadding="0" cellspacing="1" border="0" class="display" id="single_table">
    <thead>
      <tr>
        <th rowspan=2>Name</th>
        <th rowspan=2 id="sites_or_status">Sites</th>
        <th colspan=3 align="center">CPUs</th>
        <th colspan=2 align="center">Online Storage Space (GB)</th>
        <th colspan=2 align="center">Nearline Storage Space (GB)</th>
        <th colspan=3 align="center">Grid Jobs</th>
      </tr>
      <tr>
        <th><div id="physicalcpu"   title="The sum of PhysicalCPUs over all SubClusters.">Physical</div></th>
        <th><div id="logicalcpu"    title="The sum of LogicalCPUs over all SubClusters.">Logical</div></th>
        <th><div id="si2000"        title="The sum of product of SubClusterBenchmarkSI00 by SubClusterLogicalCPUs over all SubClusters.">SI2000</div></th>
        <th><div id="totalonline"   title="The sum of TotalOnlineSize over all SEs.">TotalSize</div></th>
        <th><div id="usedonline"    title="Divide the sum of UsedOnlineSize over all SEs by the sum of TotalOnlineSize over all SEs.">UsedSize</div></th>
        <th><div id="totalnearline" title="The sum of TotalNearlineSize over all SEs.">TotalSize</div></th>
        <th><div id="usednearline"  title="Divide the sum of UsedNearlineSize over all SEs by the sum of TotalNearlineSize over all SEs.">UsedSize</div></th>
        <th><div id="totaljob"      title="The sum of TotalJobs over all VOViews.">Total</div></th>
        <th><div id="runningjob"    title="Divide the sum of RunningJobs over all VOViews by the sum of LogicalCPUs over all SubClusters.">Running</div></th>
        <th><div id="waitingjob"    title="Divide the sum of WaitingJobs over all VOViews by the sum of TotalJobs over all VOViews.">Waiting</div></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="spacer"></div>
<div id="group_or_site" style="visibility: hidden;" title="group"></div>
{% endblock %}

