<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link rel="stylesheet" type="text/css" href="/media/core/css/jquery.tabs.css" />
<style media="screen" type="text/css">
body, table, tr, td {font-family:Arial;font-size:9pt;padding:2px;color: #3D3D3D;}
tr.Separator {height: 15px;}
</style>
<script type="text/javascript" src="/media/core/scripts/jquery.js"></script>
<script type="text/javascript" src="/media/core/scripts/jquery.tabs.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#tabs_container').tabs();
	});
</script>
</head>
<body>

<div id="tabs_container">
  <ul>
  {% for tabname in tabnames %}
    <li><a href="#fragment-{{ forloop.counter }}"><span>{{ tabname }}</span></a></li>
  {% endfor %}
  </ul>
  {% for timestamp in timestamps %}
  <div id="fragment-{{ forloop.counter }}">
    <script>
      document.write('<img src="'+document.URL+'{{ timestamp }}/" alt=" " />');
    </script>
  </div>
  {% endfor %}
</div>

</body>
</html>

