<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<title>VO View</title>
<link rel="stylesheet" type="text/css" href="/media/core/css/jquery.tabs.css" />
<style media="screen" type="text/css">
body, table, tr, td {font-family:Arial;font-size:9pt;color: #3D3D3D;}
tr.Separator {height: 15px;}
</style>
<link rel="stylesheet" type="text/css" href="/media/core/css/dataTables.css" />
<link rel="stylesheet" type="text/css" href="/media/core/css/TableTools.css" />
<script type="text/javascript" src="/media/core/scripts/jquery.js"></script>
<script type="text/javascript" src="/media/core/scripts/jquery.tabs.js"></script>
<script type="text/javascript" src="/media/core/scripts/jquery.dataTables.js"></script>
<script type="text/javascript" src="/media/core/scripts/ZeroClipboard.js"></script>
<script type="text/javascript" src="/media/core/scripts/TableTools.js"></script>
<script type="text/javascript" src="/media/core/scripts/utils.js"></script>
<script type="text/javascript" src="/media/vo/scripts/vo.js" ></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#tabs_container').tabs();
		loadTable( $('#ce_status_table') );
	});
</script>
</head>
<body>

<div id="tabs_container">
  <ul>
    <li><a href="#fragment-ce-status"><span>CE Status</span></a></li>
  </ul>
  <div id="fragment-ce-status">

	<div id="TableContainer">
	  <table cellpadding="0" cellspacing="1" border="0" class="display" id="ce_status_table" name="CE_Status">
	    <thead>
	      <tr>
	        <th title="GlueVOViewLocalID">ID</th>
	        <th title="GlueCEStateTotalJobs">TotalJobs</th>
	        <th title="GlueCEStateRunningJobs">RunningJobs</th>
	        <th title="GlueCEStateWaitingJobs">WaitingJobs</th>
	        <th title="GlueCEStateFreeJobSlots">FreeJobSlots</th>
	        <th title="GlueCEStateEstimatedResponseTime">ERT</th>
	        <th title="GlueCEStateWorstResponseTime">WRT</th>
	        <th title="GlueChunkKey">GlueCE</th>
	      </tr>
	    </thead>
	    <tbody>
	    </tbody>
	    <tfoot>
	      <tr>
	        <th>Total</th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th></th>
	        <th></th>
	      </tr>
	    </tfoot>
	  </table>
	</div>
	
  </div>
</div>

</body>
</html>