{%  extends "base_gstat.html"  %}

{% block title %} {{title}} {% endblock %}

{% block description %}Here you can put short description what application does, authors list and whatever you can come up with.{% endblock %}

{% block app-name %}{{ title }}{% endblock %}

{% block app-info %}{% endblock %}



{% block scripts-add %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#example').dataTable( { "iDisplayLength":25 } );  // dataTable script initialization using jQuery selectors
        $('#content-main a').attr({"target":"_blank"});      // here you can set up default targets for all heperlinks in content section
    } );
</script>
{% endblock %}

{% block content-main %}
<p>
<table cellpadding="0" cellspacing="1" border="0" class="display" id="example">
	<thead>
		<tr>
			<th>Hostname</th>
			<th>Instances</th>
			<th>Services</th>
			<th>Sites</th>
		</tr>
	</thead>
	<tbody>
{% for row in table %}
        <tr>{% for col in row %}
            <td>{{ col }}</td>{% endfor %}
        </tr>{% endfor %}
	</tbody>
</table>
<div class="spacer"></div>
{% endblock %}

{% block footer-text %}Django Example Template &copy; 2009{% endblock %}
