{%extends "blank.html"%}

{% block title %}{{dn}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/media/ldapbrowser/css/ldapbrowser.css" type="text/css" />
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
	<table id="attributestable" class="tablesorter" cellspacing="1" cellpadding="0" border="0"> 
      <thead> 
        <tr> 
          <th>Attributes</th> 
          <th>Values</th> 
        </tr> 
      </thead> 
      <tbody> 
        {% for row in table %}
          <tr>
			{% for col in row %}
			  <td>{{col}}</td>
            {% endfor %}
	      </tr>
        {% endfor %}
      </tbody>
    </table>


{% endblock %}
