{%extends "base_gstat.html"%}

{% block title %}GStat 2.0 - LDAP Browser{% endblock %}

{% block css-add %}
	<link rel="stylesheet" href="/media/ldapbrowser/css/ldapbrowser.css" type="text/css" />
{% endblock %}

{% block breadcrumbs %}<a href="/gstat/">Home</a> :: <a href="/gstat/ldap">LDAP Browser</a>{% endblock %}

{% block scripts-add %}
<script type="text/javascript" src="/media/ldapbrowser/scripts/ldapbrowser.js"></script>

<!-- Loading YUI libraries -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/yui/2.6.0/build/yuiloader/yuiloader-min.js"></script>
<script type="text/javascript"> 
	var loader = new YAHOO.util.YUILoader({ 
	    require: ["treeview", "connection"],
	    loadOptional: true,
	    onSuccess: function() {YAHOO.util.Event.onDOMReady(init);}, 
	    timeout: 10000,
	    combine: true 
	}); 
	loader.insert();
</script>
{% endblock %}

{% block content-main %}
	<form action="">
	<div id="visiblecombo">
		<select id="hosts" size="1" onchange="selectHost(this)">
			<option value="default" style="background-color: #532900; color: white;">--SELECT A TOP LEVEL BDII--</option>
			{% for label, hostname, sel in hostnames %}
			    {% ifequal sel 1 %}<option value="{{hostname}}" selected="selected">{{label}}</option>
	 			{% else %}<option value="{{hostname}}">{{label}}</option>{% endifequal %}
			{% endfor %}
		</select>
		<a id='urllink' href='/gstat/ldap'>Permalink for this host</a>
	</div>
	</form>

    <div id="entrypage">
		<table id="ldaptree"><tr><th>Attributes</th></tr></table>
    </div>

	<div id="ldaptree">
		<strong>LDAP Tree</strong>
		<div id="tree"></div>
	</div>
{% endblock %}
