include config/*
include media/core/img/*
include media/core/css/*
include media/core/icon/*
include media/core/images/*
include media/core/scripts/*
include media/geo/css/*
include media/geo/css/img/*
include media/geo/scripts/*
include media/geo/scripts/img/*
include media/ldapbrowser/css/*
include media/ldapbrowser/scripts/*
include media/summary/css/*
include media/summary/css/img/*
include media/summary/scripts/*
include media/summary/scripts/img/*
include media/gridsite/css/*
include media/gridsite/css/img/*
include media/gridsite/scripts/*
include media/gridsite/scripts/img/*
include apache/*
include apps/manage.py
include apps/core/templates/*.html
include apps/gstat/templates/*.html
include apps/geo/templates/*.html
include apps/summary/templates/*.html
include apps/gridsite/templates/*.html
include apps/ldapbrowser/templates/*.html

