.NagiosStatus_OK
{
  font-weight: bold;
  color: #3eaf17;
/*  color: #68DC40;*/
}

.NagiosStatus_WARNING
{
  font-weight: bold;
  color: #ded600;
}

.NagiosStatus_UNKNOWN
{
  font-weight: bold;
  color: #FFB005;
}

.NagiosStatus_CRITICAL
{
  font-weight: bold;
  color: #FA3B00;
}

.NagiosStatus_PENDING
{
  font-weight: bold;
  color: #888888;
}

.NagiosStatus_N\/A
{
  font-weight: bold;
  color: #BBBBBB;
}