/** General styles **/
a:link { text-decoration: none;}
a:visited {text-decoration: none;}
a.bold { font-weight: bold;}
a.glue { color: #EA7618; font-weight: bold; font-size:7px;}


/** Layout: 100% Height Overflow Auto **/
html { height:100%; }
body { height:100%; } 
#container { height:100%; }
#main-centeriser { height:100%; }
#left-board { height:100%; }
#right-board { height:100%; }

#treediv { overflow: auto;  }
#frame { overflow: auto;  }

/** Containers **/
.board {
	background-color:#FFFFFF; /*#EEF0F1;*/
	border:1px solid #D3D3D3;
	color:#222222;
	margin:0 15px 0px 0;
	padding:0 5px 0px;
}

.rightboard {
	margin:0px;
}

.board h2 {
	background-color:#3399CC;
	border-top:3px solid #ADD8E6;
	color:#FFF;
	font-size:11px;
	margin:0 -5px 5px;
	line-height:2;
	padding:0 5px;
}

.clear {
	clear:both;
	font-size:1px;
	line-height:1px;
	padding-top:10px;
}


/** Positioning **/
#left-board { float:left; width:30%;}
#right-board { float:left; width:64%;}

/** Table Row Expanding **/
tr.hidden { display: none; }
tr.unhidden { display: table-row; }

/** TreeView **/
#tree {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 8pt;
	background: #fff;
	color: #3D3D3D;
	line-height:1.4em;
}