Source: glite-info-provider-ldap
Maintainer: Laurence Field <project-grid-info-support@cern.ch>
Section: net
Priority: optional
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/BDII
Vcs-Browser: http://svnweb.cern.ch/world/wsvn/gridinfo/glite-info-provider-ldap/trunk
Vcs-Svn: svn://svn.cern.ch/reps/gridinfo/glite-info-provider-ldap/trunk
DM-Upload-Allowed: yes

Package: glite-info-provider-ldap
Architecture: all
Depends: ${misc:Depends}, slapd
Description: LDAP information provider
 An information provider that queries a number of LDAP sources and returns the
 result. 
