{%  extends "base_gstat.html" %}

{% block description %}Here you can put short description what application does, authors list and whatever you can come up with.{% endblock %}

{% block app-info %}{% endblock %}

{% block css-add %}
<link rel="stylesheet" type="text/css" href="/media/service/css/service.css" />
<link rel="stylesheet" type="text/css" href="/media/core/css/tablesorter.css" />
<!-- <link rel="stylesheet" type="text/css" href="/media/core/css/jquery.treeview.css" /> -->
{% endblock %}

{% block scripts-add %}
<script type="text/javascript" src="/media/gridsite/scripts/site.js"></script>
<script type="text/javascript" src="/media/core/scripts/jquery.js"></script>
<script type="text/javascript" src="/media/core/scripts/jquery.tablesorter.js"></script>
<!-- <script type="text/javascript" src="/media/core/scripts/jquery.treeview.js"></script> -->
<script type="text/javascript" src="/media/core/scripts/jquery.jstree.js"></script>
<script type="text/javascript">
   function changeServiceView(event) {
     service_type = document.getElementById('services').value;
     if (service_type != "-1")
        window.open('/gstat/service/' + service_type + '/treeview/', '_self')
   }


	$(document).ready(function(){
	    services = document.getElementById('services');
        var service_type = window.location.href.split("/")[5];
        services.value = service_type;
	
		//$("#tree").treeview();
		$("#treediv").tree({
		    ui: { theme_path: "/media/core/css/jquery.jstree.css", 
		          theme_name: "default",
		        },
		    callback : {
		          onchange: function (NODE) {
		            var iframe = document.getElementById("frame");
		            iframe.src = $(NODE).children("span").children("a").attr("href");
		            iframe.window.location.reload(); 
		          }
		    }
		});
		
	    main_centeriser = parseInt( $("#main-centeriser").height() );
	    header = parseInt( $("#header").height() );
	    menu = parseInt( $("#menu").height() );
	    //footer = parseInt( $("#footer").height() );
	    footer = 0;
	    proportion = parseInt( (main_centeriser - header - menu - footer) / main_centeriser * 100 );
	    $("#content").css('height', proportion + '%');

        content = parseInt( $("#content").height() );
        breadcrumbs = parseInt( $("#breadcrumbs").height() );
        proportion = parseInt( (content - breadcrumbs) / content * 100 );
        $("#content-main").css('height', proportion + '%');
        
        content_main = parseInt( $("#content-main").height() );
        proportion = parseInt( (content_main - 10) / content_main * 100 );
        $("#layoutdiv").css('height', proportion + '%');
        
        left_board = parseInt( $("#left-board").height() );
        proportion = parseInt( (left_board - 30) / left_board * 100 );
        $("#treediv").css('height', proportion + '%');
        
        right_board = parseInt( $("#right-board").height() );
        proportion = parseInt( (right_board - 30) / right_board * 100 );
        $("#frame").css('height', proportion + '%');
	});
</script>
{% endblock %}

{% block breadcrumbs %}
<a href="/gstat/">Home</a> :: <a href="/gstat/service/{{ type }}/">{{ title }}</a>
<div style='display: inline; text-align: right; position: absolute; right: 0px;'>
  <strong>Go To Another Service:</strong>
  <select id="services" onchange="changeServiceView(event);" style="margin-left: 0.5em;">
    <option value="-1">--SELECT A SERVICE--</option>
    {% for service_type,service_title in services.items %}
      <option value="{{ service_type }}">{{ service_title }}</option>
    {% endfor %}
  </select>
</div>
{% endblock %}

{% block content-main %}

{% load dict_tags %}

<div id="layoutdiv">
  <div id="left-board" class="board">
    <h2>Service Components</h2>
    <div id="treediv">
    <ul id="tree" class="filetree treeview">
      <li class="open">
        <span class="folder"> <a class="disable" href='javascript:void(0)'> Service </a> </span>
        <ul>
        
        
          {% if tree_topbdii %}
          <li class='{{ collapse.bdii_top|default:"closed" }}'>
            <span class="folder"> <a class="disable" href='javascript:void(0)'> Top BDII </a> </span>
            <ul>
              {% for hostname,checks in tree_topbdii %}
              
              <li class='{{ collapse|dict_get:hostname|default:"closed" }}'>
                <span class="ce">
                  <a target="frame" href="/gstat/service/bdii_top/{{ hostname }}/all/"> {{ hostname }}</a>
                  <a href="/gstat/ldap#ldap://{{ hostname }}:2170/"> <img border=0 src="/media/core/css/img/ldap.png" title="Linking to LDAP Browser for querying to this BDII"/> </a>
                </span>
                <ul>
                  {% for check in checks %}
                  
                  <li class="closed">
                    <span class="validation">
                      <a target="frame" href="/gstat/service/bdii_top/{{ hostname }}/{{ check }}/">{{ check }}</a>
                    </span>
                    <ul id="ul_{{ forloop.counter }}">
                      <script>
		                var datasources = DataSources("{{ check }}");
		                for (datasource in datasources) {
		                    var link = '<a target="frame" href="/gstat/rrd/Nagios/{{ hostname }}/{{ check }}/'+datasources[datasource]+'/"> '+datasources[datasource]+'</a>'
		                    $('#ul_{{ forloop.counter }}').append(
		                       $('<li></li>').append(
		                         $('<span></span>').attr({'className':'datasource'}).html(link)
		                       )
		                    );
		                    //document.write('<li><span class="datasource">'+link+'</span></li>');
		                }
		                $('#ul_{{ forloop.counter }}').removeAttr('id');
                     </script>
                    </ul>
                  </li>
                  
                  {% endfor %}
                </ul>
              </li>
              
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          
          
          {% if tree_sitebdii %}
          <li class='{{ collapse.bdii_site|default:"closed" }}'>
            <span class="folder"> <a class="disable" href='javascript:void(0)'> Site BDII </a> </span>
            <ul>
              {% for hostname,checks in tree_sitebdii %}
              
              <li class='{{ collapse|dict_get:hostname|default:"closed" }}'>
                <span class="ce">
                  <a target="frame" href="/gstat/service/bdii_site/{{ hostname }}/all/"> {{ hostname }}</a>
                  <a href="/gstat/ldap#ldap://{{ hostname }}:2170/o=grid"> <img border=0 src="/media/core/css/img/ldap.png" title="Linking to LDAP Browser for querying to this BDII"/> </a>
                </span>
                <ul>
                  {% for check in checks %}
                  
                  <li class="closed">
                    <span class="validation">
                      <a target="frame" href="/gstat/service/bdii_site/{{ hostname }}/{{ check }}/"> {{ check }}</a>
                    </span>
                    <ul id="ul_{{ forloop.counter }}">
                      <script>
		                var datasources = DataSources("{{ check }}");
		                for (datasource in datasources) {
		                    var link = '<a target="frame" href="/gstat/rrd/Nagios/{{ hostname }}/{{ check }}/'+datasources[datasource]+'/"> '+datasources[datasource]+'</a>'
		                    $('#ul_{{ forloop.counter }}').append(
		                       $('<li></li>').append(
		                         $('<span></span>').attr({'className':'datasource'}).html(link)
		                       )
		                    );
		                    //document.write('<li><span class="datasource">'+link+'</span></li>');
		                }
		                $('#ul_{{ forloop.counter }}').removeAttr('id');
                     </script>
                    </ul>
                  </li>
                  
                  {% endfor %}
                </ul>
              </li>
              
              {% endfor %}
            </ul>
          </li>
          {% endif %}          
          
          
        </ul>
      </li>
    </ul>
    </div>
  </div>
  <div id="right-board" class="board rightboard" >
    <h2>Viewing Testing Results or Statistics Graphs</h2>
    <iframe id="frame" name="frame" src="{{ url }}" frameborder="0" width="100%" scrolling="yes" allowtransparency="true">
    </iframe>
  </div>
  <div class="clear"/>
</div>


{% endblock %}